{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@/private": "/private",
          "@/public": "/public",
          "@/api": "/src/api",
          "@/tests": "/src/tests",
          "@/ui": "/src/ui"
        },
        "loglevel": "silent"
      }
    ]
  ]
}
